<div class="grid">
  <div class="col-3">
    <h5 class="text-warning ml-3 p-d-flex">Sort</h5>
    <!-- text-warning ml-3 bunların yerinde kendin bir texti style verebilirsin -->
    <p-dropdown
      [options]="sortOptions"
      [(ngModel)]="shopParams.sort"
      optionLabel="name"
      optionValue="value"
      (onChange)="getProducts()"
      styleClass="shopMyDropdown"
    ></p-dropdown>
    <h5 class="text-warning ml-3">Brands</h5>
    <ul class="list-group my-3">
      <li
        class="list-group-item"
        aria-current="true"
        *ngFor="let brand of brands"
        [class.active]="brand.id === this.shopParams.brandId"
        [value]="brand.id"
        (click)="onBrandSelected(brand.id)"
      >
        {{ brand.name }}
      </li>
    </ul>
    <h5 class="text-warning ml-3">Types</h5>
    <ul class="list-group my-3">
      <li
        class="list-group-item"
        aria-current="true"
        *ngFor="let type of types"
        [class.active]="type.id === this.shopParams.brandId"
        [value]="type.id"
        (click)="onBrandSelected(type.id)"
      >
        {{ type.name }}
      </li>
    </ul>
  </div>
  <div class="col-9">
    <!-- <div class="d-flex justify-content-between align-items-center pb-2"> -->
    <div class="searchButton">
      <div class="form-inline mt-8">
        <input
          (keyup.enter)="onSearch()"
          class="form-control"
          style="width: 300px"
          #search
          placeholder="Search"
          type="text"
        />
        <button
          (click)="onSearch()"
          pButton
          type="button"
          label="Search"
          class="p-button-secondary"
        ></button>

        <button
          (click)="onReset()"
          pButton
          type="button"
          label="Reset"
          class="p-button-warning"
        ></button>
      </div>
    </div>

    <div class="row">
      <div class="col-3 mb-4" *ngFor="let item of products">
        <app-product-item [product]="item"></app-product-item>
      </div>
    </div>
    <p-paginator
      [rows]="10"
      [totalRecords]="totalCount"
      [rowsPerPageOptions]="[10, 20, 30]"
      (onPageChange)="onPageChanged($event)"
    ></p-paginator>
  </div>
</div>
